*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #066acd;
}
.container{
    width: 50%;
    top: 50%;
    left: 50%;
    background-color: white;
    border-radius: 10px;
    min-width: 450px;
    position: relative;
    min-height: 100px;
    transform: translate(-50%, -50%)
}
.newtask{
    position: relative;
    padding: 30px 20px;
    display: flex;

}
.newtask input{
    width: 75%;
    height: 40px;
    padding: 12px;
    color: #111;
    position: relative;
    border-radius: 5px;
    border: 2px solid #d3d3d3;
}
.newtask input:focus{
    outline: none;
    border-color: black;
}
.newtask button{
    position: relative;
    width: 20%;
    margin: 0 5px;
    border-radius: 5px;
    background-color: #066acd;
    color: white;
}
.tasks{
     
    width: 100%;
    position: relative;
    padding: 20px 20px;
    margin-top: 10px;
    border-top: 1px solid;
     
}
.task{
    border-radius: 3px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    height: 50px;
    display: flex;
    padding: 5px 10px;
    width: 100%;
    margin-top: 10px;
    border-bottom: 1px solid;
}
.task button{
    height: 100%;
    width: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}
.task button:hover{
    background-color: #066acd;
    color: white;
}
.task span{
     font-size: 16px;
     
}